body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul {
    margin-right: 2%;
}

header nav ul li {
    display: inline-block;
    margin: 0% 1%;
    float: right;
}