body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.introduction {
    background-image: url('Images/Cafe-shop.jpeg');
}

.introduction #img-1 {
    float: left;
    height: 300px;
}

.introduction ul {
    margin-right: 1%;
}

.introduction li {
    margin: 1.5% 1%;
    float: right;
}

.introduction a {
    color: white;
    text-align: center;
    font-size: 30px;
}

.introduction h2 {
    color: white;
    font-size: 60px;
    position: flex;
    width: 100%;
    text-align: center;
    padding: 20% 0%;
}

#img-2 {
    margin: 16% 2% 43.5% 2%;
    float: left;
    width: 46%;
}

.aboutmenu {
    margin-top: 10%;
    margin-right: 2%;
    margin-bottom: 10%;
    float: right;
    width: 48%;
}

.aboutmenu h3 {
    font-size: 30px;
}

.aboutmenu h2 {
    font-size: 35px;
}

.aboutmenu p {
    font-size: 25px;
}

#aboutmenu-kilde {
    margin-top: 10%;
}