html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.introduction #img-1 {
    float: left;
    height: 300px;
}

.introduction ul {
    margin-right: 1.7%;
    margin-top: 2%;
}

.introduction li {
    margin: 1.5% 1%;
    float: right;
}

.introduction a {
    color: black;
    text-align: center;
    font-size: 30px;
}

.aboutus-para {
    position: absolute;
    width: 40%;
    top: 40%;
    text-align: center;
    left: 5%;
}

#imgAU-1 {
    float: right;
    width: 45%;
    margin-left: 55%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
    margin-bottom: 20%;
}